.navbar {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out,
    border-color 0.4s ease-in-out;
}

.navbar.no-transform-transition {
  transition: transform 0s, background-color 0.4s ease-in-out,
    border-color 0.4s ease-in-out;
}

.navbar .navbar-brand,
.navbar .nav-link-item,
.navbar .brand-icon {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navbar.mode-initial {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  transform: translateY(0);
  border-bottom: none;
}

.navbar.mode-initial .navbar-brand,
.navbar.mode-initial .nav-link-item {
  color: #fff;
}
.navbar.mode-initial .brand-icon {
  background-color: #fff;
}
.navbar.mode-initial .brand-logo-light {
  display: inline-block;
}
.navbar.mode-initial .brand-logo-dark {
  display: none;
}

.navbar.mode-fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar.mode-fixed .navbar-brand,
.navbar.mode-fixed .nav-link-item {
  color: #111;
}
.navbar.mode-fixed .brand-icon {
  background-color: #111;
}
.navbar.mode-fixed .brand-logo-light {
  display: none;
}
.navbar.mode-fixed .brand-logo-dark {
  display: inline-block;
}

.navbar.mode-fixed.mode-hidden {
  transform: translateY(-110%);
}

.navbar.mode-fixed.mode-visible {
  transform: translateY(0);
}

.navbar-brand {
  font-size: 1.8em;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.brand-icon {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.5em;
}
.brand-text-container {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.brand-text {
  display: inline;
}
@media (max-width: 800px) {
  .brand-text-visuals {
    display: none;
  }
}
@media (max-width: 600px) {
  .brand-text-gutierezz {
    display: none;
  }
}
@media (max-width: 500px) {
  .brand-text-marco {
    display: none;
  }
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.nav-link-item {
  text-decoration: none;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-right: 25px;
}
.navbar.mode-initial .nav-link-item:hover {
  color: #ccc;
}
.navbar.mode-fixed .nav-link-item:hover {
  color: #555;
}

@media (max-width: 400px) {
  .portfolio-link {
    display: none;
  }
}

.hire-us-button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background-color: #e0ac1c;
  color: #111;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
.hire-us-button:hover {
  background-color: #f0c13e;
}

.brand-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
  bottom: 2px; /* Raise the logo slightly for better alignment */
}
